set(PICO_BOARD "{{ cmake.board }}" CACHE STRING "Board type" FORCE)
set(PWMK_ENABLE_USB {{ cmake.enable_usb | cmake_bool }} CACHE BOOL "Build USB HID transport" FORCE)
set(PWMK_ENABLE_BLE {{ cmake.enable_ble | cmake_bool }} CACHE BOOL "Build BLE transport" FORCE)
set(PWMK_DEBUG_MAIN {{ (cmake.debug.all or cmake.debug.main) | c_bool }} CACHE BOOL "Enable DEBUG_MAIN" FORCE)
set(PWMK_DEBUG_BLE {{ (cmake.debug.all or cmake.debug.ble) | c_bool }} CACHE BOOL "Enable DEBUG_BLE" FORCE)
set(PWMK_DEBUG_EVENT {{ (cmake.debug.all or cmake.debug.event) | c_bool }} CACHE BOOL "Enable DEBUG_EVENT" FORCE)
set(PWMK_DEBUG_MATRIX_SCAN {{ (cmake.debug.all or cmake.debug.matrix_scan) | c_bool }} CACHE BOOL "Enable DEBUG_MATRIX_SCAN" FORCE)
set(PWMK_DEBUG_MATRIX_SCAN_DEEP {{ (cmake.debug.all or cmake.debug.matrix_scan_deep) | c_bool }} CACHE BOOL "Enable DEBUG_MATRIX_SCAN_DEEP" FORCE)
set(PWMK_DEBUG_PINNACLE {{ (cmake.debug.all or cmake.debug.pinnacle) | c_bool }} CACHE BOOL "Enable DEBUG_PINNACLE" FORCE)
set(PWMK_DEBUG_PERIPHERAL {{ (cmake.debug.all or cmake.debug.peripheral) | c_bool }} CACHE BOOL "Enable DEBUG_PERIPHERAL" FORCE)
set(PWMK_DEBUG_PERSISTENCE {{ (cmake.debug.all or cmake.debug.persistence) | c_bool }} CACHE BOOL "Enable DEBUG_PERSISTENCE" FORCE)
set(PWMK_DEBUG_VIAL {{ (cmake.debug.all or cmake.debug.vial) | c_bool }} CACHE BOOL "Enable DEBUG_VIAL" FORCE)
set(PWMK_WANT_HCI_DUMP {{ (cmake.debug.all or cmake.debug.ble_deep) | c_bool }} CACHE BOOL "Enable WANT_HCI_DUMP" FORCE)
set(PWMK_PROFILE_GENERATED_SRC_DIR "{{ generated_src_dir }}")
set(PWMK_PROFILE_C_SOURCES {% for source in profile_c_sources %} "{{ source }}"{% endfor %})
set(PWMK_PROFILE_NAME "{{ profile_name }}")
