#include "settings/vial_definition.h"

// Vial keyboard definition before UTF-8 encoding and LZMA compression:
{% for line in vial_keyboard_definition_json_lines %}
// {{ line }}
{% endfor %}

const uint8_t vial_keyboard_definition[VIAL_KEYBOARD_DEFINITION_SIZE] = {
{% for byte in vial_keyboard_definition %}
    0x{{ "%02X"|format(byte) }}{{ "," if not loop.last else "" }}
{% endfor %}
};

const uint8_t vial_unlock_combo[VIAL_UNLOCK_COMBO_LENGTH][2] = {
{% for row, col in vial_unlock_combo %}
    { {{ row }}, {{ col }} }{{ "," if not loop.last else "" }}
{% endfor %}
};
